<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab *ngIf="adminAccount" [root]="tab4Root" tabTitle="Account Request" tabIcon="notifications"></ion-tab>
  <ion-tab *ngIf="companyEnabled" [root]="tab5Root" tabTitle="Patient List" tabIcon="briefcase"></ion-tab>
  <ion-tab *ngIf="adminAccount" [root]="tab6Root" tabTitle="Patient List" tabIcon="briefcase"></ion-tab>
  <ion-tab *ngIf="userAccount" [root]="tab7Root" tabTitle="Patient List" tabIcon="briefcase"></ion-tab>
  <!-- <ion-tab *ngIf="adminAccount" [root]="tab8Root" tabTitle="Medicine List" tabIcon="briefcase"></ion-tab> -->
</ion-tabs>